# Add this to crontab, or if your system has /etc/cron.d (like debian), symlink/copy this file there!

LIKEBACK_USER="www-data"
LIKEBACK_DIR="/srv/www/htdocs/devel/likeback/cron"

# m h dom mon dow user             command
00 12   * *   mon $LIKEBACK_USER   ${LIKEBACK_DIR}/sendReminders.php
