/* Base settings */
body      { background: white; color: black; margin: 0; font-family: 'Tahoma', sans-serif; font-size: 9pt; }
input     { vertical-align: middle; }
th        { text-align: center; border-bottom: 1px solid navy; }
img       { padding: 1px; border: none; vertical-align: middle; }

/* Special settings for comment and page types */
.Like     { background-color: #DFFFDF; }
.Dislike  { background-color: #FFDFDF; }
.Bug      { background-color: #C0C0C0; }
.Feature  { background-color: #FFFFDF; }
.Options  { background-color: #DFDFFF; }

.subBar         { padding: 3px; background-image: url('subBar.png'); height: 34px; line-height: 34px; vertical-align: middle; }
.subBar.Like    { border-bottom: 1px solid #DFFFDF; }
.subBar.Dislike { border-bottom: 1px solid #FFDFDF; }
.subBar.Bug     { border-bottom: 1px solid #C0C0C0; }
.subBar.Feature { border-bottom: 1px solid #FFFFDF; }

.subBar.Options { border-bottom: 1px solid #DFDFFF; }

/* Comment list navigation */
#navi {
  text-align: center;
  padding: 1em;
}
#navi a, #navi a:active, #navi a:visited {
  color: #444;
  text-decoration: underline;
}
#navi a:hover {
  color: #777;
  text-decoration: underline;
}
#navi h4, #navi p {
  margin-top: 0;
  margin-bottom: 0;
}
#navi span {
}

/* Comment list base color and settings */
.listed-minor {
  font-size: smaller;
}
a.listed-comment, a.listed-comment:hover,
a.listed-comment:active, a.listed-comment:visited {
  color: black;
}

/* Comment list status color */
.Progress { color: navy; }
.Solved,  .Thanks  { text-decoration: line-through; color: #444; }
.Invalid, .Wontfix { text-decoration: line-through; color: #900; }
a.Solved, a.Solved:visited,
a.Thanks, a.Thanks:visited {
  color: #444;
}
a.Invalid, a.Invalid:visited,
a.Wontfix, a.Wontfix:visited {
  color: #900;
}

.found    { background-color: #FFFF7F; }

div.comment {
  margin: 1em 1em 3em 1em;
  border-left: 2px dotted silver;
  padding: 1em 1em 1em 2em;
}

.pre      { white-space: pre; }
.nobr     { white-space: nowrap; color: inherit; text-decoration: inherit; }
.noexpand { width: 1px; white-space: nowrap; }

.mailRemark { vertical-align: middle; }
.mailRemarkOff { vertical-align: middle; color:gray; font-style:italic;}

.header   { text-align: center; vertical-align: middle; background: #1C1C58 url('header.png') 0 50%; color: white; padding: 5px; border-bottom: 1px solid #121239; margin: 0; line-height: 26px; height: 80px; }
.header #applogo { float: left; } /* TODO: vertical align doesn't work?! */
.header #lbinfo { float: right; color: yellow; padding: 2px; padding-left: 5px; padding-right: 5px; }
.header #lbinfo a { color: blue; }
.header #lblogo { float: right; margin-left: 10px; margin-top: 10px; }
.header strong { color: #FFFFCD; }
.header label:hover { text-decoration: underline; cursor: default; }
.header a { color: white; }
.header a.link { display: block; position: absolute; margin: 0; left: 5px; top: 5px; height: 80px; line-height: 80px; vertical-align: middle; }
.content  { padding: 10px; }
.invisibleLink { text-decoration: none; font-weight: normal; color: black; }
a         { text-decoration: none; font-weight: normal; }
a:hover   { text-decoration: none; font-weight: normal; }
a, a:visited { color: blue; }
a.invisibleLink:visited { color: black; }

#data { width: 100%; }

#statusMenu { position: absolute; display: none; border: 1px solid navy; background-color: #eeeee6; padding: 1px; }
#statusMenu a { display: block; padding: 1px 3px; border: 1px solid #eeeee6; }
#statusMenu a:hover { background-color: #2f65d9; color: white; background: #121239 url('header.png') 0 50%; border: 1px solid #121239; }
#statusMenu strong { display: block; margin: 2px; }

form, .form { padding: 0; margin: 0; }
.remark { margin: 5px; padding: 3px; }
.remark * { margin: 2px; padding: 0; }

.summary { margin-bottom: 10px; }
.summary th { text-align: right; vertical-align: top; border: none; }
